<app-page-header
  title="Friends"
>
  <a [routerLink]="['../search']" mat-flat-button matSuffix color="primary">
    <mat-icon class="btn-icon" matSuffix >person_add_alt</mat-icon>
    <span>Find new friends</span>
  </a>
</app-page-header>

<app-invites-list
  (onInviteAccept)="acceptInvite($event)"
></app-invites-list>

<div *ngIf="{friends: friends$ | async, loading: loading$ | async} as observables">
  <ng-container *ngIf="!observables.loading">
    
    <h2>My friends({{observables.friends?.length}})</h2>

    <app-list-item *ngFor="let friend of observables.friends">
      <div>{{friend.username}}</div>
      <button 
        mat-flat-button 
        color="warn"
        (click)="removeFriend(friend)"
      >Remove friend</button>
    </app-list-item>

    <app-list-item *ngIf="!observables.friends?.length">
      <div>You have no friends</div>
    </app-list-item>

  </ng-container>
</div>