<header color="primary" class="header">
  <div class="container">
    <mat-toolbar class="header__inner">
      <a routerLink="store" class="nav-link">
        <mat-icon 
          aria-hidden="false" 
          aria-label="Example home icon"
          class="icon"
        >
        videogame_asset</mat-icon>
      </a>
      <nav class="nav">
        <a routerLink="store/games" routerLinkActive="active" class="nav-link">
          Games
        </a>
        <a routerLink="store/library" routerLinkActive="active" class="nav-link">
          Library
        </a>
        <a routerLink="store/friends" routerLinkActive="active" class="nav-link">
          Friends
        </a>
        <a routerLink="store/profile" routerLinkActive="active" class="nav-link">
          Profile
        </a>
      </nav>
      <button
        class="toggler-btn"
        mat-raised-button
        matSuffix
        (click)="authService.logout()"
      >
        Logout
      </button>
    </mat-toolbar>
    <nav class="mobile-nav">
      <a routerLink="store/games" routerLinkActive="active" class="nav-link">
        Games
      </a>
      <a routerLink="store/library" routerLinkActive="active" class="nav-link">
        Library
      </a>
      <a routerLink="store/friends" routerLinkActive="active" class="nav-link">
        Friends
      </a>
      <a routerLink="store/profile" routerLinkActive="active" class="nav-link">
        Profile
      </a>
    </nav>
  </div>
</header>