.header {
  background: #673ab7;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
  }
}
.nav-link {
  display: inline;

  margin-right: 15px;
  
  text-decoration: none;
  color: #f0f8ffb9;

  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;
  }
}

.icon {
  font-size: 46px;
  height: 46px;
  width: 46px;
  vertical-align: middle;
}