.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-link {
  display: inline;

  margin-right: 15px;
  
  text-decoration: none;
  color: #f0f8ffea;

  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;
  }
}

.icon {
  font-size: 46px;
  height: 46px;
  width: 46px;
  vertical-align: middle;
}