.header {
  background: #673ab7;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
  }
}

.nav-link {
  display: inline;

  margin: 0px 5px;
  
  text-decoration: none;
  color: #f0f8ffb9;

  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;
  }
}

.icon {
  font-size: 46px;
  height: 46px;
  width: 46px;
  vertical-align: middle;
}

.nav {
  display: block;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.toggler-btn {

  @media screen and (max-width: 576px) {
    height: 25px;
    padding: 0;
    font-size: 14px;
    line-height: 1;
  }
}

.mobile-nav {
  display: none;

  padding-bottom: 10px;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: 576px) {
    display: block;
  }
}