<mat-card class="card">
  <div class="game-name">{{name}}</div>
  <div 
    class="game-image"
    [ngStyle]="{'background-image': 'url(assets/img/' + img + ')'}"
  >
    <div *ngIf="price" class="game-price">{{price}}</div>
  </div>
  <div class="game-body">
    <mat-card-content>
      <p>
        {{description}}
      </p>
      <mat-chip-list>
        <mat-chip 
          *ngFor="let tag of tags" 
          color="primary"
          disabled
          class="tag"
        >{{tag}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <ng-content></ng-content>
    </mat-card-actions>
  </div>
</mat-card>