<form 
  class="full-width" 
  [formGroup]="registerForm"
  (submit)="onSubmit()"
>
  <div class="text-center">
    <h1 class="title">Register</h1>
  </div>
  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Username</mat-label>
    <input 
      matInput 
      placeholder="Shket12" 
      type="text"
      formControlName="username"
    >
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngIf="!registerForm.controls['username'].valid">
      Please enter a valid username
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Password</mat-label>
    <input 
      matInput 
      type="password"
      formControlName="password"
    >
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error 
      *ngIf="shouldShowError(['password', 'required', 'pattern'])"
    >
      Please enter a password
    </mat-error>
    <mat-error 
      *ngIf="shouldShowError(['password', 'pattern', 'required'])"
    >
      Please enter a strong password
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Repeat password</mat-label>
    <input 
      matInput 
      type="password"
      formControlName="repeatPassword"
    >
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error 
      *ngIf="shouldShowError(['repeatPassword', 'required', 'notMatch'])"
    >
      Please repeat a password
    </mat-error>
    <mat-error
      *ngIf="shouldShowError(['repeatPassword', 'notMatch', 'required'])"
    >
      Passwords should match
    </mat-error>
  </mat-form-field>
  <div 
    class="text-center"
    [ngStyle]="{'margin': '20px 0px'}" 
  >
    <button 
      mat-raised-button 
      color="primary" 
      class="full-width" 
      [disabled]="!registerForm.valid"
    >Register</button>
  </div>
</form>
<div class="text-center">
  <p>Already have an account?
    <a [routerLink]="['../login']">Log in</a>
  </p>
</div>