<app-page-header
  title="Friends"
>
  <a [routerLink]="['../list']" mat-flat-button matSuffix color="primary">
    <mat-icon class="btn-icon" matSuffix >people</mat-icon>
    <span>Go to friends list</span>
  </a>
</app-page-header>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Search friends</mat-label>
  <input [(ngModel)]="searchInputText" matInput placeholder="Username">
</mat-form-field>

<h2>Search: {{searchInputText}}</h2>
<div *ngIf="{users: users$ | async, loading: loading$ | async} as observables">
  <ng-container *ngIf="!observables.loading">
    <app-list-item
      *ngFor="let user of observables.users || [] 
      | searchFilter : searchInputText"
    >
      <div>{{user.username}}</div>

      <button
        *ngIf="user.status === 0"
        mat-flat-button 
        color="primary"
        (click)="sendInvite(user)"
      >Send invite</button>

      <button
        *ngIf="user.status === 1 && user.type === 'recipient'"
        mat-flat-button 
        color="warn"
        (click)="cancelInvite(user)"
      >Cancel invite</button>

      <button
        *ngIf="user.status === 1 && user.type === 'requester'"
        mat-flat-button 
        color="primary"
        [ngStyle]="{
          'background-color': 'green'
        }"
        (click)="acceptInvite(user)"
      >Accept invite</button>

    </app-list-item>
  </ng-container>
</div>